<%= form_with url: stats_path, id: "stats_form" do |form| %>
    <%= form.hidden_field :stats_source, value: "start_page" %>
    <%= form.hidden_field :stats_source_id, value: "" %>
    <%= form.hidden_field :stats_target %>
    <%= form.hidden_field :stats_target_id %>
<div class="row">
	<div class="col-md-8 weekly-intro">
		<div id="org_block">
			<strong><%= t('contributor.japanese_translation') %></strong>
			<ul>
				<li>Dixon Siu</li>
				<li>Keiko.S</li>
			</ul>
			<strong><%= t('contributor.hungarian_translation') %></strong>
			<ul>
				<li>Kata</li>
			</ul>
			<strong><%= t('contributor.korean_translation') %></strong>
			<ul>
				<li>Chris Lee</li>
			</ul>
			<strong><%= t('contributor.taiwanese_translation') %></strong>
			<ul>
				<li>Sherry</li>
			</ul>
			<strong><%= t('contributor.french_translation') %></strong>
			<ul>
				<li>Barthélémy Jaillant - <a href="https://funnyorphi.com/" target="_blank"><%= t('contributor.website') %></a></li>
			</ul>
			<strong><%= t('contributor.german_translation') %></strong>
			<ul>
				<li>Christoph Fabianek</li>
			</ul>
			<strong><%= t('contributor.design') %></strong>
			<ul>
				<li>Tim Hacker - <a href="https://www.timhacker.com/" target="_blank"><%= t('contributor.website') %></a></li>
			</ul>
		</div>
	</div>
<script type="text/javascript">
    document.getElementById('org_block').onmousedown = function(e){
        $('#stats_target').val("org_block <%= I18n.locale %>: ".concat(e.target.innerHTML).concat(': ').concat(e.target.href));
        $('#stats_form').submit();
    }
</script>
</div>
<% end %>
<div class="row" style="margin-top: 40px;">
  <div class="col-md-12">
    <p><a href="/<%= I18n.locale.to_s %>/<%= view_mode %>" onmousedown="$('#stats_target').val('start_page');$('#stats_target_id').val('0');$('#stats_form').submit();" style="margin-left: 15px;"><i class="fa fa-home" aria-hidden="true"></i> <%= t('general.to_start_page') %></a></p>
  </div>
</div>
