<div class="row">
	<div class="col-md-12">
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= message %>
            </div>
        <% end %>
    </div>
</div>

<%= form_with url: stats_path, id: "stats_form" do |form| %>
    <%= form.hidden_field :stats_source, value: "start_page" %>
    <%= form.hidden_field :stats_source_id, value: "" %>
    <%= form.hidden_field :stats_target %>
    <%= form.hidden_field :stats_target_id %>
<div class="row">
	<div class="col-md-8 weekly-intro">
		<div id="org_block">
			<%= render 'application/intro' %>
		</div>
<script type="text/javascript">
    $(function () {
        $('.more_link').on('click', function () {
            $('.intro_short').hide();
            $('.intro_full').show();
        });
      $('.less_link').on('click', function () {
            $('.intro_short').show();
            $('.intro_full').hide();
        });
      
    });
    document.getElementById('org_block').onmousedown = function(e){
        $('#stats_target').val("org_block <%= I18n.locale %>: ".concat(e.target.innerHTML).concat(': ').concat(e.target.href));
        $('#stats_form').submit();
    }
</script>

		<hr>
		<h3>
			<%= t('news.latest_news') %>
            <%  if logged_in? %>
	                <span style="font-size: 12px;">
	                    <%= link_to new_wd_url do %><i class="fa fa-plus" aria-hidden="true"></i> new Weekly Digest<% end %>
	                </span>
            <% end %>
		</h3>
		<ul style="list-style-type: none; padding-left: 0;">
			<%= render partial: "week3", collection: @week.sort_by { |item| item["release"] }.last(5).reverse %>
		</ul>
		<p style="margin: 10px 0 40px;"><a href="/<%= I18n.locale.to_s %>/news<%= view_mode %>" onmousedown="$('#stats_target').val('weekly_list');$('#stats_target_id').val('');$('#stats_form').submit();"><%= t('news.show_all') %></a></p>
	</div>
	<div class="col-md-3 col-md-offset-1">
		<!-- <p style="font-size: 14px; margin-top: 17px; margin-bottom: 5px;"><strong>New Data Sources</strong></p>
		<ul style="padding-left: 25px; margin-bottom: 5px;">
			<%= render partial: "source", collection: @source.sort_by { |item| item["updated_at"] }.reverse.first(5) %>
		</ul>
		<a href="/sources<%= view_mode %>">show all</a> -->
		<p style="font-size: 14px; margin-top: 30px; margin-bottom: 5px;"><strong><%= t('general.main_tools')%></strong></p>
		<ul style="padding-left: 25px; margin-bottom: 5px;">
			<%= render partial: "app", collection: @app.sort_by { |item| item["updated_at"] }.reverse.first(5) %>
		</ul>
		<a href="/<%= I18n.locale.to_s %>/tools<%= view_mode %>" onmousedown="$('#stats_target').val('tool_list');$('#stats_target_id').val('');$('#stats_form').submit();"><%= t('general.show_all')%></a>
		<p style="font-size: 14px; margin-top: 30px; margin-bottom: 5px;"><strong><%= t('general.main_users')%></strong></p>
		<ul style="padding-left: 25px; margin-bottom: 5px;">
			<%= render partial: "user", collection: User.where(id: Post.group(:user_id).count.sort_by { |user, cnt| cnt }.reverse.first(5).map{ |row| row.first }) %>
		</ul style="padding-left: 25px;">
		<a href="/<%= I18n.locale.to_s %>/users<%= view_mode %>" onmousedown="$('#stats_target').val('user_list');$('#stats_target_id').val('');$('#stats_form').submit();"><%= t('general.show_all')%></a>
		<p style="font-size: 14px; margin-top: 30px; margin-bottom: 5px;"><strong><%= t('general.main_tags')%></strong></p>
		<ul style="padding-left: 25px; margin-bottom: 5px;">
			<%= render partial: "tag", collection: Tag.where(id: PostingTag.group(:tag_id).count.sort_by { |tag, cnt| cnt }.reverse.first(5).map{ |row| row.first }) %>
		</ul>
		<a href="/<%= I18n.locale.to_s %>/tags<%= view_mode %>" onmousedown="$('#stats_target').val('tag_list');$('#stats_target_id').val('');$('#stats_form').submit();"><%= t('general.show_all')%></a>
	</div>
</div>
<% end %>
