<div class="row">
	<div class="col-md-8 weekly-intro">
		<p>Welcome to the MyData Weekly Digest, a news site dedicated to producing the best coverage from within the human centred approach in personal data management. See the <a href="https://www.ownyourdata.eu/#mission">OwnYourData Mission Statement</a> for more information, and please consider <a href="https://mydata.org/get-involved/" target="_blank">supporting the MyData movement</a>.</p>
		<p>This page is a summary of information I retrieve mainly from the <a href="https://mydataglobal.slack.com" target="_blank">MyData Global Slack Channel</a> since June 2019. Postings and comments are owned by the respective user stated with each entry. If you have any suggestions please don't hesitate to contact me at <a href="mailto:weekly-digest[at]ownyourdata.eu">weekly-digest(at)ownyourdata.eu</a>.</p>
		<hr>
		<h3>Latest news</h3>
		<ul style="list-style-type: none; padding-left: 0;">
			<%= render partial: "week2", collection: @week.sort_by { |item| item["release"] }.last(4).reverse %>
		</ul>
		<p style="margin: -10px 0 40px;"><a href="/news<%= view_mode %>">show all</a></p>
	</div>
	<div class="col-md-3 col-md-offset-1">
		<p style="font-size: 14px; margin-top: 17px; margin-bottom: 5px;"><strong>Recent Tools</strong></p>
		<ul style="padding-left: 25px; margin-bottom: 5px;">
			<%= render partial: "app", collection: @app.sort_by { |item| item["updated_at"] }.reverse.first(5) %>
		</ul>
		<a href="/tools<%= view_mode %>">show all</a>
		<p style="font-size: 14px; margin-top: 30px; margin-bottom: 5px;"><strong>Active Users</strong></p>
		<ul style="padding-left: 25px; margin-bottom: 5px;">
			<%= render partial: "user", collection: User.where(id: Post.group(:user_id).count.sort_by { |user, cnt| cnt }.reverse.first(5).map{ |row| row.first }) %>
		</ul style="padding-left: 25px;">
		<a href="/users<%= view_mode %>">show all</a>
		<p style="font-size: 14px; margin-top: 30px; margin-bottom: 5px;"><strong>Popular Tags</strong></p>
		<ul style="padding-left: 25px; margin-bottom: 5px;">
			<%= render partial: "tag", collection: Tag.where(id: PostingTag.group(:tag_id).count.sort_by { |tag, cnt| cnt }.reverse.first(5).map{ |row| row.first }) %>
		</ul>
		<a href="/tags<%= view_mode %>">show all</a>
	</div>
</div>

