<p style="margin: 0;"><em><%= render partial: "cat", collection: AppCategory.where(app_id: app.app_id) %></em></p>
<div style="margin-bottom: -5px;"><strong><a href="https://weekly-digest.ownyourdata.eu/<%= @lang.to_s %>/tool/<%= app.app_id %>"><%= App.find(app.app_id).title %></a></strong></div>
<div style="margin: 0;"><%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(app.description.to_s).html_safe %></div>
<div class="post-tags" style="margin-top: -6px;margin-bottom: 20px;">
    <span style="color: #999999; font-size: 12px;">
        <%= t('news.posted_on', date: l(app.post_date || Date.today, format: :short)) %>
        &nbsp;<%= t('news.by') %> <a href="https://weekly-digest.ownyourdata.eu/<%= I18n.locale.to_s %>/user/<%= app.user_id.to_s %>"  style="color: #999999; text-decoration: undeline;"><%= User.find(app.user_id).name %></a>
        &nbsp;<a href="<%= app.media_url %>"  style="color: #999999;  font-size: 12px; text-decoration: underline;"><%= t('news.show_on') %> <% if app.media_type == "mydata" %>MyData Slack<% else %><%= app.media_type.to_s %><% end %></a>
    </span>
    &nbsp;<%= render partial: "tag", collection: App.find(app.app_id).app_tags.sort_by { |item| Tag.find(item.tag_id).tag } %>
</div>