<p><strong><a href="<%= post.url.to_s %>"><%= post.title.to_s %></a></p>
<p><%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(post.description.to_s).html_safe %></p>
<p style="font-size:14px;">
	<% if post.media_url.to_s != "" %>
		<a style="color: #999999; margin-right: 10px; text-decoration: none;" href="<%= post.media_url.to_s %>">show on Slack</a>
	<% end %>
	<%= render partial: "tag", locals:{stats_source: "post", stats_source_id: post.id}, collection: post.posting_tags.sort_by { |item| Tag.find(item.tag_id).tag } %></p>
<p>&nbsp;</p>