<% if @weekly.invite.to_s != "" %>
    <div class="alert alert-info">
        <%= @weekly.invite.html_safe %>
    </div>
<% end %>

		<h2><%= t('news.noteworthy_information', locale: @lang) %></h2>
		<%= render partial: "post", collection: @posts.sort_by { |item| item["post_date"] || Date.parse("1970-01-01") } %>
		<% if @questions.count > 0 %>
			<hr style="border: none; height: 1px; background-color: #333; margin-top: 15px;">
			<h2><%= t('news.questions_asked', locale: @lang) %></h2>
			<%= render partial: "post", collection: @questions.sort_by { |item| item["post_date"] || Date.parse("1970-01-01") } %>
		<% end %>
		<% if @apps.count > 0 %>
			<hr style="border: none; height: 1px; background-color: #333; margin-top: 15px;">
			<h2><%= t('news.tool', count: 2, locale: @lang) %></h2>
			<%= render partial: "app", collection: @apps.sort_by { |item| item["post_date"] || Date.parse("1970-01-01") } %>
		<% end %>
		<% if @intro_text.length > 0 %>
			<hr style="border: none; height: 1px; background-color: #333; margin-top: 15px;">
			<h2><%= t('news.mydata_internals', locale: @lang) %></h2>
			<div>
				<%= @intro_text.html_safe %>
			</div>
		<% end %>
		<p>&nbsp;</p>
    </div>
</div>
<div class="row">
    <div class="col-12" style="padding: 10px;">
        <a href="https://weekly-digest.ownyourdata.eu/unsubscribe?email=<%= @email.to_s %>&key=<%= @key.to_s %>">Unsubscribe</a> from the MyData Weekly Digest
        &nbsp; - &nbsp;
        <a href="https://ownyourdata.eu/<%= @lang %>/imprint">Imprint</a> OwnYourData.eu
        &nbsp; - &nbsp;
        <a href="https://weekly-digest.ownyourdata.eu/<%= @lang %>/weekly/<%= @weekly.release.to_s %>">Read</a> online version
