<%= form_with url: stats_path, id: "stats_form" do |form| %>
    <%= form.hidden_field :stats_source, value: "user_list" %>
    <%= form.hidden_field :stats_source_id, value: "0" %>
    <%= form.hidden_field :stats_target %>
    <%= form.hidden_field :stats_target_id %>
<div class="row">
	<div class="col-sm-4">
		<h3><%= t('user.users') %> [A-I]</h3>
		<ul>
			<%= render partial: "user2", collection: @user.sort_by { |item| item["name"].downcase }.select { |item| item["name"][0..0].downcase =~/[a-i]/ } %>
		</ul>
	</div>
	<div class="col-sm-4">
		<h3><%= t('user.users') %> [J-N]</h3>
		<ul>
			<%= render partial: "user2", collection: @user.sort_by { |item| item["name"].downcase }.select { |item| item["name"][0..0].downcase =~ /[j-n]/ } %>
		</ul>		
	</div>
	<div class="col-sm-4">
		<h3><%= t('user.users') %> [O-Z]</h3>
		<ul>
			<%= render partial: "user2", collection: @user.sort_by { |item| item["name"].downcase }.select { |item| item["name"][0..0].downcase !~ /[a-n]/ } %>
		</ul>		
	</div>
</div>
<% end %>