<div class="apps-elements">
	<p style="font-size:28px"><a href="https://weekly-digest.ownyourdata.eu/<%= I18n.locale.to_s %>/tool/<%= app3.app_id.to_s + view_mode %>" ><%= App.find(app3.app_id).title %></a></p>
	<div class="post-text">
		<%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(app3.description.to_s).html_safe %>
	</div>
	<div class="post-tags">
		<p style="font-size:12px;"><%= render partial: "tag2", collection: App.find(app3.app_id).app_tags.sort_by { |item| Tag.find(item.tag_id).tag } %></p>
	</div>
</div>