<div class="apps-elements">
    <div class="post-title">
        <a href="/<%= I18n.locale.to_s %>/tool/<%= app3.app_id.to_s + view_mode %>" onmousedown="$('#stats_target').val('app');$('#stats_target_id').val('<%= app3.app.id %>');$('#stats_form').submit();"><%= App.find(app3.app_id).title %></a>
        <!--<div class="dropdown" style="display: inline; cursor: pointer;">
            <div id="Label_<%= app3.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: inline;">
                <%= image_tag 'menu.png', style: "height: 15px; margin: 0 0 3px;" %>
            </div>
            <ul class="dropdown-menu" aria-labelledby="Label_<%= app3.id %>">
                <li><span class="dropdown-text"><%= t('news.posted_on', date: l(app3.post_date || Date.today, format: :short)) %></span></li>
                <li><a href="/<%= I18n.locale.to_s %>/user/<%= app3.user_id.to_s + view_mode %>"><%= t('news.posted_by', user: User.find(app3.user_id).name) %></a></li>
                <li><a href="<%= app3.media_url %>" onmousedown="$('#stats_target').val('slack');$('#stats_target_id').val('<%= app3.id %>');$('#stats_form').submit();" target="_blank" style="font-size: small;"><%= t('news.show_on_slack') %></a></li>
                <li><a href="<%= App.find(app3.app_id).url %>" onmousedown="$('#stats_target').val('app_page');$('#stats_target_id').val('<%= app3.id %>');$('#stats_form').submit();" target="_blank" style="font-size: small;"><%= t('news.open_website') %></a></li>
            </ul>
        </div>-->
        <%  if logged_in? %>
                <span style="font-size: 12px;">
                    <%= link_to edit_app_post_url(id: @weekly_id, app_post_id: app3.id) do %><i class="fa fa-pencil" aria-hidden="true"></i> edit<% end %>
                </span>
        <%  end %>
    </div>
    <div class="post-text">
        <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(app3.description.to_s).html_safe %>
    </div>
    <div class="post-tags">
        <span>
            <%  if controller_name == "news" %>
                    <%= t('news.posted_on', date: l(app3.post_date || Date.today, format: :short)) %>
            <%  else %>
                    <a href="/<%= I18n.locale.to_s %>/weekly/<%= Weekly.find(app3.weekly_id).release.to_s + view_mode %>"><%= t('news.posted_on', date: l(app3.post_date || Date.today, format: :short)) %></a>
            <%  end %>
            <% if controller_name.to_s != "users" %>
                    &nbsp;<%= t('news.by') %> <a href="/<%= I18n.locale.to_s %>/user/<%= app3.user_id.to_s + view_mode %>" class="post-tag"><%= User.find(app3.user_id).name %></a>
            <% end %>
            <%  if app3.media_url.to_s != "" %>
                    &nbsp;<a href="<%= app3.media_url %>" onmousedown="$('#stats_target').val('slack');$('#stats_target_id').val('<%= app3.id %>');$('#stats_form').submit();" target="_blank" style="font-size: small;" class="post-tag"><%= t('news.show_on') %> <% if app3.media_type == "mydata" %>MyData Slack<% else %><%= app3.media_type.to_s %><% end %></a>
            <%  end %>
        </span>
        &nbsp;<%= render partial: "tag2", collection: App.find(app3.app_id).app_tags.sort_by { |item| Tag.find(item.tag_id).tag } %>
        &nbsp;(<a href="<%= App.find(app3.app_id).url %>" onmousedown="$('#stats_target').val('app_page');$('#stats_target_id').val('<%= app3.id %>');$('#stats_form').submit();" target="_blank" style="font-size: small;" class="post-tag"><%= t('news.open_website') %></a>)
    </div>
</div>