<div class="row">
    <div class="col-sm-9">
        <div class="weekly-intro">
            <p>Welcome to the MyData Weekly Digest, a news site dedicated to producing the best coverage from within the human centred approach in personal data management. See the <a href="https://www.ownyourdata.eu/#mission">OwnYourData Mission Statement</a> for more information, and please consider <a href="https://mydata.org/get-involved/" target="_blank">supporting the MyData movement</a>.</p>
            <p><em>General comments for this week:</em></p>
            <%= @intro_text.html_safe %>
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
                <div class="visible-xs visible-sm hidden-md hiden-lg">
                    <% if @previous != "" %>
                        <a href="/weekly/<%= @previous + view_mode %>">< <%= @previous %></a>
                    <% end %>
                </div>
                <div class="hidden-xs hidden-sm visible-md visible-lg">
                    <% if @previous != "" %>
                        <a href="/weekly/<%= @previous + view_mode %>">< previous digest (<%= @previous %>)</a>
                    <% end %>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="visible-xs visible-sm hidden-md hiden-lg text-right">
                    <% if @next != "" %>
                        <a href="/weekly/<%= @next + view_mode %>"><%= @next %> ></a>
                    <% end %>
                </div>
                <div class="hidden-xs hidden-sm visible-md visible-lg text-right">
                    <% if @next != "" %>
                        <a href="/weekly/<%= @next + view_mode %>">next digest (<%= @next %>) ></a>
                    <% end %>
                </div>
            </div>
        </div>

        <nav id="menu" class="bs-docs-sidebar visible-xs" style="border-color: lightgray; border-width: 1px; border-style: solid; padding: 20px; margin-top: 20px; width: 220px; border-radius: 20px;">
          <ul class="nav bs-docs-sidenav">
            <li><div class="section">Menu</div></li>
            <li><a href="#info"><i class="fa fa-info-circle" aria-hidden="true"></i> Noteworthy Infos (<%= @posts.count.to_s %>)</a></li>
            <li><a href="#question"><i class="fa fa-question-circle" aria-hidden="true"></i> Questions Asked (<%= @questions.count.to_s %>)</a></li>
            <li><a href="#apps"><i class="fa fa-wrench" aria-hidden="true"></i> Apps & Services (<%= @apps.count.to_s %>)</a></li>
            <li><a href="#events"><i class="fa fa-calendar" aria-hidden="true"></i> Upcoming Events (<%= @events.count.to_s %>)</a></li>
            <li><a href="#stats"><i class="fa fa-bar-chart" aria-hidden="true"></i> Statistics</a></li>
            <li><a href="/<%= view_mode %>"><i class="fa fa-home" aria-hidden="true"></i> Start Page</a></li>            
          </ul>
        </nav>

        <hr id="info" style="margin-top: 30px;">
    	<div style="margin-top:40px;">
    		<div class="section">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                Noteworthy Information
            </div>
    		<div class="section-sub hidden-xs"><%= @posts.count.to_s %> posts</div>
    	</div>
        <%= render partial: "post2", collection: @posts.sort_by { |item| item["post_date"] } %>

        <div class="visible-xs text-right">
            <a href="#menu"><i class="fa fa-chevron-up" aria-hidden="true"></i> menu</a>
        </div>
        <hr id="question" style="margin-top: 30px;">
        <div style="margin-top:40px;">
            <div class="section">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                Questions Asked
            </div>
            <div class="section-sub hidden-xs"><%= @questions.count.to_s %> posts</div>
        </div>
        <%= render partial: "question2", collection: @questions.sort_by { |item| item["post_date"] } %>

        <div class="visible-xs text-right">
            <a href="#menu"><i class="fa fa-chevron-up" aria-hidden="true"></i> menu</a>
        </div>
        <hr id="apps" style="margin-top: 30px;">
        <div style="margin-top:40px;">
            <div class="section">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                Apps & Services
            </div>
            <div class="section-sub hidden-xs"><%= @apps.count.to_s %> entries</div>
        </div>
        <%= render partial: "app2", collection: @apps.sort_by { |item| item["post_date"]  || Date.parse("1970-01-01") } %>

        <div class="visible-xs text-right">
            <a href="#menu"><i class="fa fa-chevron-up" aria-hidden="true"></i> menu</a>
        </div>
        <hr id="events" style="margin-top: 30px;">
        <div style="margin-top:40px;">
            <div class="section">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Upcoming Events
            </div>
            <div class="section-sub hidden-xs"><%= @events.count.to_s %> entries</div>
        </div>
        <%= render partial: "event2", collection: @events %>

        <div class="visible-xs text-right">
            <a href="#menu"><i class="fa fa-chevron-up" aria-hidden="true"></i> menu</a>
        </div>
        <hr id="stats" style="margin-top: 30px;">
        <div style="margin-top:40px;">
            <div class="section">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                Statistics
            </div>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label statistic post-text">Users:</label>
                <div class="col-xs-9 statistic post-text"><strong><%= @users %></strong> (<%= @new_users %> new)</div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label statistic post-text">Slack Channels:</label>
                <div class="col-xs-9 statistic post-text" style="line-height: 1.5em;"><strong><%= @channels %></strong> (<%= @monitored_channels %> monitored<% if @monitored_channel_names.to_s != ""%>: <%= @monitored_channel_names %><% end %>)</div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label statistic post-text">Postings:</label>
                <div class="col-xs-9 statistic post-text"><strong><%= @postings %></strong> (<%= @digest_postings %> in digest)</div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label statistic post-text">People said <em>Thank You</em>:</label>
                <div class="col-xs-9 statistic post-text"><strong><%= @thanks %> thanked <%= @thanked %></strong></div>
            </div>
        </form>
        <div class="visible-xs text-right">
            <a href="#menu"><i class="fa fa-chevron-up" aria-hidden="true"></i> menu</a>
        </div>

    </div>
    <div class="col-sm-3" style="margin-top: 20px;">
        <nav class="bs-docs-sidebar hidden-xs" id="myScrollspy">
          <ul class="nav bs-docs-sidenav" data-spy="affix" data-offset-top="110">
            <li><div class="section">Menu</div></li>
            <li><a href="#info"><i class="fa fa-info-circle" aria-hidden="true"></i> Noteworthy Infos</a></li>
            <li><a href="#question"><i class="fa fa-question-circle" aria-hidden="true"></i> Questions Asked</a></li>
            <li><a href="#apps"><i class="fa fa-wrench" aria-hidden="true"></i> Apps & Services</a></li>
            <li><a href="#events"><i class="fa fa-calendar" aria-hidden="true"></i> Upcoming Events</a></li>
            <li><a href="#stats"><i class="fa fa-bar-chart" aria-hidden="true"></i> Statistics</a></li>
            <li><a href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i> back to top</a></li>
            <li><a href="/<%= view_mode %>"><i class="fa fa-home" aria-hidden="true"></i> Start Page</a></li>            
          </ul>
        </nav>
    </div>
</div>