<div class="intro">
    <%= @intro_text.html_safe %>
</div>

<div class="row" style="margin-bottom: 10px;">
    <div class="col-xs-6">
        <div class="visible-xs visible-sm hidden-md hiden-lg">
            <% if @previous != "" %>
                <a href="/weekly/<%= @previous + view_mode %>">< <%= @previous %></a>
            <% end %>
        </div>
        <div class="hidden-xs hidden-sm visible-md visible-lg">
            <% if @previous != "" %>
                <a href="/weekly/<%= @previous + view_mode %>">< previous digest (<%= @previous %>)</a>
            <% end %>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="visible-xs visible-sm hidden-md hiden-lg text-right">
            <% if @next != "" %>
                <a href="/weekly/<%= @next + view_mode %>"><%= @next %> ></a>
            <% end %>
        </div>
        <div class="hidden-xs hidden-sm visible-md visible-lg text-right">
            <% if @next != "" %>
                <a href="/weekly/<%= @next + view_mode %>">next digest (<%= @next %>) ></a>
            <% end %>
        </div>
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingInfo">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
                Noteworthy Information (<%= @posts.count.to_s %> posts)
            </a>
          </h4>
        </div>
        <div id="collapseInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingInfo">
            <div class="panel-body">
                <div class="row">
                    <ul class="list-unstyled">
                        <%= render partial: "post", collection: @posts.sort_by { |item| item["post_date"] } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingQuestion">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseQuestion" aria-expanded="false" aria-controls="collapseQuestion">
                Questions Asked (<%= @questions.count.to_s %> posts)
            </a>
          </h4>
        </div>
        <div id="collapseQuestion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingQuestion">
            <div class="panel-body">
                <div class="row">
                    <ul class="list-unstyled">
                        <%= render partial: "question", collection: @questions.sort_by { |item| item["date"] } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTools">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTools" aria-expanded="false" aria-controls="collapseTools">
                Apps & Services (<%= @apps.count.to_s %> entries)
            </a>
          </h4>
        </div>
        <div id="collapseTools" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTools">
            <div class="panel-body">
                <div class="row">
                    <ul class="list-unstyled">
                        <%= render partial: "app", collection: @apps.sort_by { |item| item["title"] } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingEvents">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEvents" aria-expanded="false" aria-controls="collapseEvents">
                Upcoming Events (<%= @events.count.to_s %> entries)
            </a>
          </h4>
        </div>
        <div id="collapseEvents" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEvents">
            <div class="panel-body">
                <div class="row">
                    <ul class="list-unstyled">
                        #TODO: integration Google MyData Global Calendar
                        <%= render partial: "event", collection: @events.sort_by { |item| item["date"] } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingStatistics">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseStatistics" aria-expanded="false" aria-controls="collapseStatistics">
                Statistics
            </a>
          </h4>
        </div>
        <div id="collapseStatistics" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingStatistics">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label statistic">Users:</label>
                        <div class="col-xs-2 statistic"><%= @users %> (<%= @new_users %> new)</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label statistic">Slack Channels:</label>
                        <div class="col-xs-2 statistic"><%= @channels %> (<%= @monitored_channels%> monitored)</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label statistic">Postings:</label>
                        <div class="col-xs-2 statistic"><%= @postings %> (<%= @digest_postings %> in digest)</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label statistic">People said <em>Thank You</em>:</label>
                        <div class="col-xs-2 statistic"><%= @thanks %> thanked <%= @thanked %></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
