<%= form_with url: stats_path, id: "stats_form" do |form| %>
    <%= form.hidden_field :stats_source, value: "tag_list" %>
    <%= form.hidden_field :stats_source_id, value: "0" %>
    <%= form.hidden_field :stats_target %>
    <%= form.hidden_field :stats_target_id %>
<div class="row">
	<div class="col-sm-4">
		<h3>Tags [A-F]</h3>
		<ul>
			<%= render partial: "mytag", collection: @tag.sort_by { |item| item["tag"].downcase }.select { |item| item["tag"][0..0].downcase =~/[a-f]/ } %>
		</ul>
	</div>
	<div class="col-sm-4">
		<h3>Tags [G-O]</h3>
		<ul>
			<%= render partial: "mytag", collection: @tag.sort_by { |item| item["tag"].downcase }.select { |item| item["tag"][0..0].downcase =~ /[g-o]/ } %>
		</ul>		
	</div>
	<div class="col-sm-4">
		<h3>Tags [P-Z]</h3>
		<ul>
			<%= render partial: "mytag", collection: @tag.sort_by { |item| item["tag"].downcase }.select { |item| item["tag"][0..0].downcase !~ /[a-o]/ } %>
		</ul>		
	</div>
</div>
<% end %>