<%= form_with url: stats_path, id: "stats_form" do |form| %>
    <%= form.hidden_field :stats_source, value: "tag" %>
    <%= form.hidden_field :stats_source_id, value: @tag.id %>
    <%= form.hidden_field :stats_target %>
    <%= form.hidden_field :stats_target_id %>
<div class="row">
    <div class="col-sm-9">
        <nav id="menu" class="bs-docs-sidebar visible-xs" style="border-color: lightgray; border-width: 1px; border-style: solid; padding: 20px; margin-top: 20px; width: 220px; border-radius: 20px;">
          <ul class="nav bs-docs-sidenav">
            <li><div class="section"><%= t('general.menu') %></div></li>
            <% if @posts.count > 0 %><li><a href="#info"><i class="fa fa-info-circle" aria-hidden="true"></i> <%= t('news.noteworthy_info') %> (<%= @posts.count.to_s %>)</a></li><% end %>
            <% if @questions.count > 0 %><li><a href="#question"><i class="fa fa-question-circle" aria-hidden="true"></i> <%= t('news.questions_asked') %> (<%= @questions.count.to_s %>)</a></li><% end %>
            <% if @apps.count > 0 %><li><a href="#apps"><i class="fa fa-wrench" aria-hidden="true"></i> <%= t('news.tool', count: 2) %> (<%= @apps.count.to_s %>)</a></li><% end %>
            <li><a href="/tags<%= view_mode %>"><i class="fa fa-user" aria-hidden="true"></i> <%= t('tag.title_short') %></a></li>            
            <li><a href="/<%= view_mode %>"><i class="fa fa-home" aria-hidden="true"></i> <%= t('general.start_page') %></a></li>            
          </ul>
        </nav>

        <% if @posts.count > 0 %>
            <div id="info" style="margin-top:17px;">
                <div class="section">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <%= t('news.noteworthy_information') %>
                </div>
                <div class="section-sub hidden-xs"><%= @posts.count.to_s %> <%= t('news.post', count: @posts.count ) %></div>
            </div>
            <%= render partial: "post5", collection: @posts.sort_by { |item| item["post_date"] }.reverse %>
            <div class="visible-xs text-right">
                <a href="#menu"><i class="fa fa-chevron-up" aria-hidden="true"></i> <%= t('general.menu') %></a>
            </div>
            <hr style="margin-top: 30px; margin-bottom: 23">
        <% end %>

        <% if @questions.count > 0 %>
            <div id="question" style="margin-top:17px;">
                <div class="section">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <%= t('news.questions_asked') %>
                </div>
                <div class="section-sub hidden-xs"><%= @questions.count.to_s %> <%= t('news.post', count: @questions.count ) %></div>
            </div>
            <%= render partial: "question5", collection: @questions.sort_by { |item| item["post_date"] }.reverse %>
            <div class="visible-xs text-right">
                <a href="#menu"><i class="fa fa-chevron-up" aria-hidden="true"></i> <%= t('general.menu') %></a>
            </div>
            <hr id="question" style="margin-top: 30px; margin-bottom: 23">
        <% end %>

        <% if @apps.count > 0 %>
            <div id="apps" style="margin-top:17px;">
                <div class="section">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <%= t('news.tool', count: 2) %>
                </div>
                <div class="section-sub hidden-xs"><%= @apps.count.to_s %> <%= t('news.entry', count: @apps.count) %></div>
            </div>
            <%= render partial: "app5", locals:{tag_id: @tag.id}, collection: @apps.sort_by { |item| item["title"] } %>
            <div class="visible-xs text-right">
                <a href="#menu"><i class="fa fa-chevron-up" aria-hidden="true"></i> <%= t('general.menu') %></a>
            </div>
        <% end %>
        <%= render partial: "cta", locals:{force: true} %>
    </div>
    <div class="col-sm-3" style="margin-top: 20px;">
        <nav class="bs-docs-sidebar hidden-xs" id="myScrollspy">
          <ul class="nav bs-docs-sidenav" data-spy="affix" data-offset-top="110">
            <li><div class="section"><%= t('general.menu') %></div></li>
            <% if @posts.count > 0 %><li><a href="#info"><i class="fa fa-info-circle" aria-hidden="true"></i> <%= t('news.noteworthy_info') %></a></li><% end %>
            <% if @questions.count > 0 %><li><a href="#question"><i class="fa fa-question-circle" aria-hidden="true"></i> <%= t('news.questions_asked') %></a></li><% end %>
            <% if @apps.count > 0 %><li><a href="#apps"><i class="fa fa-wrench" aria-hidden="true"></i> <%= t('news.tool', count: 2) %></a></li><% end %>
            <li><a href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i> <%= t('general.to_top') %></a></li>
            <li><a href="/tags<%= view_mode %>"><i class="fa fa-tag" aria-hidden="true"></i> <%= t('tag.title') %></a></li>            
            <li><a href="/<%= view_mode %>"><i class="fa fa-home" aria-hidden="true"></i> <%= t('general.start_page') %></a></li>            
          </ul>
        </nav>
    </div>
</div>
<% end %>