<div class="info-elements">
	<div class="post-title">
		<div class="post-user" style="color: #42B58C; font-weight: 600;">
			<a href="/user/<%= post2.user_id.to_s + view_mode %>" onmousedown="$('#stats_target').val('user');$('#stats_target_id').val('<%= post2.user_id %>');$('#stats_form').submit();" style="color: inherit; font-size: smaller;">
				<%= User.find(post2.user_id).name %>
				<i class="fa fa-long-arrow-up" aria-hidden="true" style="-webkit-transform:rotate(30deg); -moz-transform:rotate(30deg); -ms-transform:rotate(30deg); -o-transform:rotate(30deg); transform:rotate(30deg);"></i></a>&nbsp;</div>
		<div class="post-date" style="font-size: smaller;">
			<% if post2.media_type.nil? %>
				<%= post2.post_date.to_s %>
			<% else
			     if post2.post_date.to_s != "" %>
					<a href="/weekly/<%= Weekly.find(post2.weekly_id).release.to_s + view_mode %>" onmousedown="$('#stats_target').val('weekly');$('#stats_target_id').val('<%= post2.weekly_id %>');$('#stats_form').submit();" style="color: inherit;">
						<%= post2.post_date.to_s %><i class="fa fa-long-arrow-up" aria-hidden="true" style="-webkit-transform:rotate(30deg); -moz-transform:rotate(30deg); -ms-transform:rotate(30deg); -o-transform:rotate(30deg); transform:rotate(30deg);"></i></a>&nbsp;
			  <% end %>
					<a class="<%= post2.media_type || "mydata" %>" href="<%= post2.media_url %>" onmousedown="$('#stats_target').val('slack');$('#stats_target_id').val('<%= post2.id %>');$('#stats_form').submit();" target="_blank" title="show on MyData Slack"> </a>&nbsp;<a href="<%= post2.media_url %>" onmousedown="$('#stats_target').val('slack');$('#stats_target_id').val('<%= post2.id %>');$('#stats_form').submit();" target="_blank" style="font-size: small;">show on Slack <i class="fa fa-long-arrow-up" aria-hidden="true" style="-webkit-transform:rotate(30deg); -moz-transform:rotate(30deg); -ms-transform:rotate(30deg); -o-transform:rotate(30deg); transform:rotate(30deg);"></i></a>
			<% end %>
		</div>
	</div>
	<div class="post-text">
		<%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(post2.description.to_s).html_safe %>
	</div>
</div>