<p><strong>URL:</strong> <a href="<%= @app.url.to_s %>" target="_blank"><%= @app.url.to_s %></a></p>
<p><strong>Description:</strong> <%= @app.description.to_s %></p>
<div>
	<%= render partial: "tag", collection: @app.app_tags.sort_by { |item| Tag.find(item.tag_id).tag } %>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 30px;">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingInfo">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
                Mentioned on Slack (<%= @posts.count.to_s %> posts)
            </a>
          </h4>
        </div>
        <div id="collapseInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingInfo">
            <div class="panel-body">
                <div class="row">
                    <ul class="list-unstyled">
                        <%= render partial: "post", collection: @posts.sort_by { |item| item["post_date"] } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

