<p id="notice"><%= notice %></p>

<p>
  <strong>Weekly:</strong>
  <%= @post.weekly_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Post date:</strong>
  <%= @post.post_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>Media url:</strong>
  <%= @post.media_url %>
</p>

<p>
  <strong>Media type:</strong>
  <%= @post.media_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
