<div class="info-elements">
    <div class="post-title">
        <a href="<%= post3.url %>" onmousedown="$('#stats_target').val('post');$('#stats_target_id').val('<%= post3.id %>');$('#stats_form').submit();" target="_blank"><%= post3.title %></a>
        <div class="dropdown" style="display: inline; cursor: pointer;">
            <div id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: inline;">
                <%= image_tag 'menu.png', style: "height: 15px; margin: 0 0 3px;" %>
            </div>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                <% if controller_name == "news" %>
                        <li><span class="dropdown-text"><%= t('news.posted_on', date: l(post3.post_date || Date.today, format: :short)) %></span></li>
                <% else %>
                        <li><a href="/<%= I18n.locale.to_s %>/weekly/<%= Weekly.find(post3.weekly_id).release.to_s + view_mode %>"><%= t('news.posted_on', date: l(post3.post_date || Date.today, format: :short)) %></a></li>
                <% end %>
                <% if controller_name.to_s != "users" %>
                        <li><a href="/<%= I18n.locale.to_s %>/user/<%= post3.user_id.to_s + view_mode %>"><%= t('news.posted_by', user: User.find(post3.user_id).name) %></a></li>
                <% end %>
                <%  if post3.media_url.to_s != "" %>
                        <li><a href="<%= post3.media_url %>" onmousedown="$('#stats_target').val('slack');$('#stats_target_id').val('<%= post3.id %>');$('#stats_form').submit();" target="_blank" style="font-size: small;"><%= t('news.show_on_slack') %></a></li>
                <%  end %>
            </ul>
        </div>
        <%  if logged_in?
                if I18n.locale.to_s == "en" %>
                    <span style="font-size: 12px;">
                        <%= link_to edit_post_url(id: @weekly_id, post_id: post3.id, post: "info") do %><i class="fa fa-pencil" aria-hidden="true"></i> edit<% end %>
                    </span>
            <%  else
                    if Post.where(lang: I18n.locale.to_s, id: post3.id).count == 0 %>
                        <span style="font-size: 12px;">
                            <%= link_to edit_post_url(id: @weekly_id, post_id: post3.id, post: "info") do %><i class="fa fa-pencil" aria-hidden="true"></i> edit<% end %> &nbsp;
                            <%= link_to add_lang_post_url(id: @weekly_id, post_id: post3.id, post: "info") do %><i class="fa fa-plus" aria-hidden="true"></i> add translation<% end %>
                        </span>
                <%  else %>
                        <span style="font-size: 12px;">
                            <%= link_to edit_post_url(id: @weekly_id, post_id: post3.id, post: "info") do %><i class="fa fa-pencil" aria-hidden="true"></i> edit<% end %>
                        </span>
                <%  end
                end
            end %>     
    </div>
    <div class="post-text">
        <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(post3.description.to_s).html_safe %>
    </div>
    <div class="post-tags">
        <%= render partial: "tag2", locals:{stats_source: "post", stats_source_id: post3.id}, collection: post3.posting_tags.sort_by { |item| Tag.find(item.tag_id).tag } %>
        <%  if logged_in? %>
            <%= link_to "#", data: { toggle: "modal", target: "#addTagModal"}, onclick: '$("#tag").val("");$("#tag_post_id").val("' + post3.id.to_s + '");' do %><i class="fa fa-plus" aria-hidden="true"></i> add tag<% end %>
        <% end %>
    </div>
</div>