<li class="info">
	<div class="date">
		<% if controller_name == "news" %>
			<%= question.post_date.to_s %>
		<% else %>
			<a href="/weekly/<%= Weekly.find(question.weekly_id).release.to_s + view_mode %>" style="font-weight: 300;">
				<%= question.post_date.to_s %></a>
		<% end %>
	</div>
	<div class="user">[<a href="/user/<%= question.user_id.to_s + view_mode %>"><%= User.find(question.user_id).name %></a>]</div>
	<div class="title">
		<a href="<%= question.url %>">
			<%= question.title %>
		</a> 
	</div>
	(show <a href="<%= question.media_url %>">answers</a>)
	<div class="description">
		<%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(question.description.to_s).html_safe %>
	</div>
	<div class="tags">
		<%= render partial: "tag", collection: question.posting_tags.sort_by { |item| Tag.find(item.tag_id).tag } %>
	</div>
</li>