<li style="margin-bottom: 20px;">
    <a href="/<%= I18n.locale.to_s %>/weekly/<%= week3["release"].to_s + view_mode %>" onmousedown="$('#stats_target').val('weekly');$('#stats_target_id').val('<%= week3.id %>');$('#stats_form').submit();" style="color: #42B58C; font-weight: 600;">
    	<%= l(week3["release"], format: :long, my_day: ordinalize_number(week3["release"].day, I18n.locale.to_s)) %>
    </a>
    <br>

    <span>
        <%= getWeekCountText(week3.id, I18n.locale.to_s, "default") %>
    </span> -
    <a href="/<%= I18n.locale.to_s %>/weekly/<%= week3["release"].to_s + view_mode %>" 
            onmousedown="$('#stats_target').val('weekly');$('#stats_target_id').val('<%= week3.id %>');$('#stats_form').submit();">
        <%= t('general.read_more') %>
    </a>
    <%  if logged_in? %>
            <br><span style="font-size: 12px;"><em>Tasks: &nbsp;
                <%= link_to add_post_url(id: week3.id, post: "info") do %><i class="fa fa-plus" aria-hidden="true"></i> add Noteworthy Information<% end %>
                &nbsp;&nbsp;
                <%= link_to add_post_url(id: week3.id, post: "question") do %><i class="fa fa-plus" aria-hidden="true"></i> add Question Asked<% end %>
                &nbsp;&nbsp;
                <%  if I18n.locale.to_s == "en" %>
                        <span style="font-size: 12px;">
                            <%= link_to edit_mdi_url(id: week3.id) do %><i class="fa fa-pencil" aria-hidden="true"></i> edit MyData Internals<% end %>
                        </span>
                <%  else
                        if WeeklyInternal.where(lang: I18n.locale.to_s, weekly_id: week3.id).count == 0 %>
                            <span style="font-size: 12px;">
                                <%= link_to new_mdi_url(id: week3.id) do %><i class="fa fa-plus" aria-hidden="true"></i> add MyData Internals translation<% end %>
                            </span>
                    <%  else %>
                            <span style="font-size: 12px;">
                                <%= link_to edit_mdi_url(id: week3.id) do %><i class="fa fa-pencil" aria-hidden="true"></i> edit MyData Internals<% end %>
                            </span>
                    <%  end
                    end %>
                &nbsp;&nbsp;
                <%= link_to edit_wd_url(id: week3.id) do %><i class="fa fa-pencil" aria-hidden="true"></i> edit Statistics<% end %>
                &nbsp;&nbsp;
                <%= link_to publish_wd_url(id: week3.id) do %><i class="fa fa-diamond" aria-hidden="true"></i> Publish<% end %>
            </em></span>
    <% end %>

</li>
