<li style="margin-bottom: 20px;">
    <a href="/weekly/<%= week2["release"].to_s + view_mode %>" onmousedown="$('#stats_target').val('weekly');$('#stats_target_id').val('<%= week2.id %>');$('#stats_form').submit();" style="color: #42B58C; font-weight: 600;">
    	<%= l(week2["release"], locale: :en, format: :long, my_day: ordinalize_number(week2["release"].day, "en")) %>
    </a><br>
    <span><%= (week2.posts.where(category: "info").count).to_s + " " + t('news.post', locale: :en, count: week2.posts.where(category: "info").count) + 
        (week2.posts.where(category: "question").count == 0 ? "" : ", " + (week2.posts.where(category: "question").count).to_s + " " + t('news.question', locale: :en, count: week2.posts.where(category: "question").count)) +
        (week2.weekly_apps.count == 0 ? "" : ", " + week2.weekly_apps.count.to_s + " " + t('news.tool', locale: :en, count: week2.weekly_apps.count)) + 
        (Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(week2["intro"].to_s).scan(/<li>/).length == 0 ? "" : ", " + Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(week2["intro"].to_s).scan(/<li>/).length.to_s + " " + t('news.talking_point', locale: :en, count: Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(week2["intro"].to_s).scan(/<li>/).length)) %></span> - 
    <a href="/weekly/<%= week2["release"].to_s + view_mode %>" onmousedown="$('#stats_target').val('weekly');$('#stats_target_id').val('<%= week2.id %>');$('#stats_form').submit();"><%= t('general.read_more', locale: :en) %></a>
</li>
