<!DOCTYPE html>
<html>
  <head>
    <title><%= @heading.to_s %></title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','<%= ENV["GOOGLE_TOKEN"] %>');</script>
    <%= stylesheet_link_tag    'application', media: 'all' %> <!--, 'data-turbolinks-track': 'reload' % > -->
    <%= javascript_include_tag 'application' %> <!--, 'data-turbolinks-track': 'reload' % > -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if !@og.nil? %>
      <meta property="og:title" content="<%= @heading.to_s %>" />
      <meta property="og:url" content="https://weekly-digest.ownyourdata.eu/weekly/<%= @og_date %>" />
      <meta property="og:type"  content="blog" />
      <meta property="og:image" content="<%= image_url 'MyDataLogo.png' %>" />
      <meta property="og:description" content="<%= @intro_text_plain %>" />
    <% end %>
  </head>

  <body data-spy="scroll" data-target="#myScrollspy" data-offset="15">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= ENV["GOOGLE_TOKEN"] %>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div style="background-color: #F2F3F9;">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="min-height: 60px; margin-top: 20px;">
            <div style="display: table;">
              <a href="/<%= view_mode %>" onmousedown="$('#stats_target').val('home');$('#stats_target_id').val('0');$('#stats_form').submit();" style="display: table-cell;"><%= image_tag 'oyd2.png', style: "height: 60px; margin: -20px -5px -10px -10px; vertical-align: text-bottom;" %></a>
              <div style="display: table-cell;">
                <h1 class="visible-xs visible-sm hidden-md hiden-lg" style="text-align: left; margin-bottom: 10px; font-size: x-large; padding-right: 190px;"><a href="/<%= view_mode %>" onmousedown="$('#stats_target').val('home');$('#stats_target_id').val('0');$('#stats_form').submit();" class="title-link"><%= @heading_short.to_s %></a></h1>
                <h1 class="hidden-xs hidden-sm visible-md visible-lg" style="text-align: left; margin-bottom: 10px; font-size: x-large;"><a href="/<%= view_mode %>" onmousedown="$('#stats_target').val('home');$('#stats_target_id').val('0');$('#stats_form').submit();" class="title-link"><%= @heading.to_s %></a></h1>
              </div>
            </div>
            <div style="float: right; white-space: nowrap; margin-top: -28px;">
                <% if logged_in?
                       if params[:mode].to_s == "0" %>
                          <span style="vertical-align: top; color: #666;">Preview Mode</span>
                    <% else %>
                          <span style="vertical-align: top; color: #666;">Public Mode</span>
                    <% end
                   else %>
                     <a href="https://www.ownyourdata.eu/" onmousedown="$('#stats_target').val('ownyourdata');$('#stats_target_id').val('');$('#stats_form').submit();" style="color: #42B58C; text-decoration: none;"><span style="text-decoration: underline;">OwnYourData.eu</span></a> 
                <% end %>
              |
              <div class="btn-group dropdown" style="margin-left: -10px;">
                <button type="button" class="fakelink_nounderline hidden-xs hidden-sm visible-md visible-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-flag"></span>
                  <span class="font-size-large" style="font-size:13px;"><%= t('footer.language') %></span> 
                  <span class="caret"></span>
                </button>
                <button type="button" class="fakelink_nounderline visible-xs visible-sm hidden-md hidden-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-flag"></span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><%= link_to "Deutsch", params.permit(:locale, :mode, :view, :id, :post).merge(locale: 'de') %></li>
                  <li><%= link_to "English", params.permit(:locale, :mode, :view, :id, :post).merge(locale: 'en') %></li>
                  <li><%= link_to "Français", params.permit(:locale, :mode, :view, :id, :post).merge(locale: 'fr') %></li>
                  <li><%= link_to "한국어", params.permit(:locale, :mode, :view, :id, :post).merge(locale: 'ko') %></li>
                  <li><%= link_to "Magyar", params.permit(:locale, :mode, :view, :id, :post).merge(locale: 'hu') %></li>
                  <li><%= link_to "日本語", params.permit(:locale, :mode, :view, :id, :post).merge(locale: 'jp') %></li>
                  <li><%= link_to "中文（台灣)", params.permit(:locale, :mode, :view, :id, :post).merge(locale: 'tw') %></li>
                </ul>
              </div>
              <% if logged_in? %>
                |
                <div class="btn-group dropdown" style="margin-left: -10px;">
                  <button type="button" class="fakelink_nounderline" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><span class="dropdown-text"><em><%= User.find(current_user).full_name.to_s %></em></span></li>
                    <% if params[:mode].to_s == "0" %>
                           <li><%= link_to "switch to 'Public Mode'", params.permit(:locale, :view, :id, :post) %></li>
                    <% else %>
                           <li><%= link_to "switch to 'Preview Mode'", params.permit(:locale, :mode, :view, :id, :post).merge(mode: '0') %></li>
                    <% end %>
                    <li><%= link_to "Change Password", "/" + I18n.locale.to_s + "/change_pwd" + view_mode %></li>
                    <li><%= link_to "Log Out", "/" + I18n.locale.to_s + "/logout" + view_mode %></li>
                  </ul>
                </div>              
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0;">
    <div class="container">
      <%= yield %>
      <% if controller_name != "static_pages" %>
        <div class="row" style="margin-top: 40px;">
          <div class="col-md-12">
            <p><a href="/<%= I18n.locale.to_s %>/<%= view_mode %>" onmousedown="$('#stats_target').val('start_page');$('#stats_target_id').val('0');$('#stats_form').submit();" style="margin-left: 15px;"><i class="fa fa-home" aria-hidden="true"></i> <%= t('general.to_start_page') %></a></p>
          </div>
        </div>
      <% end %>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-8" style="margin: -10px 0 30px;">
          &copy; 2020 <a href="https://www.ownyourdata.eu/<%= I18n.locale.to_s %>" onmousedown="$('#stats_target').val('oyd_footer');$('#stats_target_id').val('');$('#stats_form').submit();">OwnYourData.eu</a>
          <a href="https://www.ownyourdata.eu/en/imprint/" style="margin: 0 10px;" onmousedown="$('#stats_target').val('imprint');$('#stats_target_id').val('');$('#stats_form').submit();"><%= t('footer.imprint') %></a>
          <a href="https://www.ownyourdata.eu/<%= t('footer.privacy_page') %>/" onmousedown="$('#stats_target').val('privacy');$('#stats_target_id').val('');$('#stats_form').submit();"><%= t('footer.privacy') %></a>
          <a href="/<%= I18n.locale %>/contributor" style="margin: 0 10px;" onmousedown="$('#stats_target').val('contributor');$('#stats_target_id').val('');$('#stats_form').submit();"><%= t('footer.contributor') %></a>
        </div>
        <div class="col-md-4" style="margin: -9px 0 30px;">
          <ul style="float:right; list-style-type: none; margin: -9px 0 30px;">
            <li class="nav-label" style="display: inline-block;">Social &amp; Feed:</li>
            <li style="display: inline-block;"><a href="/<%= I18n.locale.to_s %>/home.rss" target="_blank" rel="nofollow"><i class="fa fa-rss-square fa-2x" aria-hidden="true"></i></a></li>
            <li style="display: inline-block;"><a href="https://www.facebook.com/OwnYourDataEU/" target="_blank" rel="nofollow"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
            <li style="display: inline-block;"><a href="https://www.linkedin.com/company/ownyourdata/" target="_blank" rel="nofollow"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
            <li style="display: inline-block;"><a href="https://twitter.com/OwnYourDataEU" target="_blank" rel="nofollow"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></i><span class="sr-only">Twitter</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
